.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: #f316b8;
}

.clockLabelStyle {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

.clockLabelPosition {
  x: 50%;
  y: 20%+30;
}

/* ============================================= */
/* Heart Rate Label */
.hrLabelStyle {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

.hrLabelPosition {
  x: 50%;
  y: 20%+70;
}

/* ============================================= */
/* Steps Label */
.stepsLabelStyle {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

.stepsLabelPosition {
  x: 50%;
  y: 20%+110;
}
